# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
*.env
Neo4j-*.txt

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
